body {
	background: url(images/vodafonContentFlex.jpg);
	font-family: Gabriola;
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 0px;
}

.vodaHeader {
	background: url(images/vodaHeader.jpg); 
	margin: 10px 10px 0 10px;
	border-radius: 15px;
}

.pages {
	display: flex;
	flex-flow: row wrap;
}

.pages div {
	flex: 1;
}

.nav {
	display: flex;
	flex-flow: wrap;
}

.nav a {
	text-decoration: none;
	font-weight: bold;
	padding: 5px 5px 0 5px;
	margin-bottom: 5px;
}

.slogan {
	text-align: right;
}

.menu {
	margin: 0px 10px 0px 10px;
}

.menu a:link, a:visited {
	color: #66CDAA;
 	border-bottom: none;
 	font-weight: bold;
 	text-decoration: none;
}

.selected {
 	background: url(images/vodafon.jpg);
 	border-radius: 15px;
}

.vodaContainerFlex {
	display: flex;
	flex-wrap: wrap;
}

.vodaContainerFlex div {
	margin: 10px 10px 0px 10px;
	padding: 10px;
}

.vodaInterestingFact {
	min-width: 220px;
	flex: 1 1;
	font-size: 21px;
	background: url(images/bokfonFlex.jpg);
	text-align: center;
	border-radius: 20px;
	border-style: double;
}

.vodaMainContent {
	min-width: 450px;
	flex: 2 1;
	font-size: 21px;
	text-align: center;
}

.vodaMainContent a {
	text-decoration: none;
	color: black;
}

.vodaMap {
	min-width: 220px;
	flex: 1 1;
	font-size: 21px;
	background: url(images/bokfonFlex.jpg);
	text-align: center;
	border-radius: 20px;
	border-style: double;
}

.footer {
	font-size: 21px;
	text-align: center;
	padding: 15px;
	margin: 0px 10px 10px 10px;
}

.znak {
	float: left;
	padding-top: 2px;
} 

.vodaImg {
	border-radius: 10px;
	width: 100%;
}

.logo {
	width: 180px;
	height: 130px;
}

@media (max-width: 768px) {

	.logo {
		text-align: center;
		width: 132px;
		height: 100px;
	}

	.vodaMainContent {
		order: 1;
	}

	.vodaInterestingFact {
		order: 2;
	}

	.vodaMap {
		order: 3;
	}

}

@media (max-width: 500px) {
	
	.vodaContainerFlex {
		flex-flow: column;
	}

	.vodaMainContent {
		order: 1;
		width: 250px;
	}

	.vodaInterestingFact {
		order: 2;
	}

	.vodaMap {
		order: 3;
	}

	.nav {
		flex-flow: column;
		text-align: center;
	}

	.slogan img {
		width: 330px;
		height: 110px;
		margin-top: 10px;
	}

}